<!-- ヘッダー -->
<div class="parallax-container">

<!-- ----------------------------------------------------------------------------------------- -->
<!-- ▼ スクロールエフェクト ▼ -->
<div class="parallax"><!--img src="build/img/wallpaper.jpg"></img--></div>

<!-- ▼ ナビゲーションバー ▼ -->
<nav class="transparent top-nav"><div class="container"><div class="nav-wrapper">
  <a href="#" class="brand-logo"><img src="src/img/logo-white.png" /></a>
  <ul class="right hide-on-med-and-down">
    <li ng-repeat="parent in parents"><a href="{{ '#cat' + parent.id }}">{{ parent.name }}</a></li>
    <li><a href="#about">About us</a></li>
  </ul>
  <!-- サイドバーボタン -->
  <a class="button-collapse" ng-click="onSideber(true)"><i class="material-icons">menu</i></a>
</div></div></nav>
<!-- ▲ ナビゲーションバー ▲ -->

<!-- ----------------------------------------------------------------------------------------- -->
<!-- ▼ 検索ボックス ▼ -->
<nav class="transparent teku-fixed original"><div class="nav-wrapper"><div class="container">
  <form>
    <div class="input-field before-black">
      <input placeholder="欲しい本を探す..." id="search" type="search"><label for="search"><i class="material-icons">search</i></label><i class="material-icons">close</i>
    </div>
  </form>
</div></div></nav>
<!-- ▲ 検索ボックス ▲ -->

<!-- ----------------------------------------------------------------------------------------- -->
<!-- ▼ トップナビゲーションバー ▼ -->
<nav class="teku-fixed navbar-fixed-top amber darken-2"><div class="nav-wrapper"><div class="container">
  <form>
    <div class="input-field">
      <input placeholder="欲しい本を探す..." id="search-fixed" type="search"><label for="search-fixed"><i class="material-icons">search</i></label><i class="material-icons">close</i>
    </div>
  </form>
</div></div></nav>
<!-- ▲ トップナビゲーションバー ▲ -->

<!-- ----------------------------------------------------------------------------------------- -->
<!-- ▼ 記事 ▼ -->
<div class="carousel" data-indicators="true">
  <div class="carousel-item green white-text" href="#one!">
    <h6 class="center">テクスチェンジとは</h6>
    <p class="white-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Mauris egestas ullamcorper tortor at scelerisque. 
      Ut vestibulum enim posuere lorem pellentesque aliquam</p>
  </div>

  <div class="carousel-item amber white-text" href="#two!">
    <h6 class="center">古本市</h6>
    <p class="white-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Mauris egestas ullamcorper tortor at scelerisque. 
      Ut vestibulum enim posuere lorem pellentesque aliquam</p>
  </div>

  <div class="carousel-item orange white-text" href="#three!">
    <h6 class="center">今度の古本市</h6>
    <div class="white-text furuhon">
      <div class="row"><div class="col s4">日付</div><div class="col s8 right-align">9月20日</div></div>
      <div class="row"><div class="col s4">時間</div><div class="col s8 right-align">8:30-10:00</div></div>
      <div class="row"><div class="col s4">場所</div><div class="col s8 right-align">G30</div></div>
    </div>
  </div>
</div>
<!-- ▲ 記事 ▲ -->

<!-- ----------------------------------------------------------------------------------------- -->
<!-- ▼ サイドバー ▼ -->
<ul class="side-nav amber darken-2 sideber" id="sideber">
  <li><a ng-click="onSideber(false)"><i class="material-icons white-text">close</i></a></li>
  <li class="divider"></li>
  <li ng-repeat="parent in parents"><a href="{{ '#cat' + parent.id }}">{{ parent.name }}</a></li>
  <li><a href="#about">About us</a></li>
</ul>
<div class="sideber-overlay" id="sideber-overlay" ng-click="onSideber(false)"></div>
<!-- ▲ サイドバー ▲ -->

</div>