<!-- メインコンテンツ -->
<div>
    <div class="waves-effect waves-light btn" ng-click="onLoadTab()" >Request API</div>
  <!-- カテゴリ別 -->
  <div ng-repeat="parent in parents" ng-attr-id="{{ 'cat' + parent.id }}"><h2 class="center cat-title">{{ parent.name}}</h2><hr class="hr-line">
  <div class="row"><div class="col s12">
  <ul class="tabs">
    <li class="tab col s3" ng-repeat="category in categories | filter : {parent: parent.id}"><a ng-href="{{ '#'+ category.name }}">{{ category.name }} </a></li>
  </ul>
  </div></div>

  <div class="row">
  <div ng-repeat="category in categories | filter : {parent: parent.id}" ng-attr-id="{{ category.name }}" class="col s12">
  <div ng-repeat="book in books | filter : {category: category.id}" class="col s6 m3">
  <div class="card sticky-action medium" style="height:300px">
  <div class="card-image waves-effect waves-block waves-light center"><img class="activator" ng-src="{{ book.img }}"></div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">add</i></span><p>{{ book.title }}</p>
  </div>
  <div class="card-action center">
  <a class="waves-effect waves-light btn orange accent-3 modal-trigger" ng-href="{{ '#modal' + book.id }}"><i class="material-icons" style="font-size:0.90rem;">add_shopping_cart</i>予約</a>
  </div>

<div class="card-reveal">
<span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></i></span>
<p>{{ book.title }}</p>
</div>
</div>
</div>
</div>
</div>
</div>
<div ng-repeat="book in books" ng-attr-id="{{ 'modal' + book.id }}" class="modal modal-fixed-footer">
<div class="modal-content">
<div class="row">
<div class="row">
<div class="col s12 center">予約</div>
</div>
<div class="row">
<div class="col s12 m3 center">
<img ng-src="{{ book.img }}">
</div>
<div class="col s12 m9">
<p>
商品名: {{ book.title }}<br>
著者: {{ book.author }}<br>
ポイント数: {{ book.point }} <br>
Amazon価格: {{ book.amazon }}<br>
残り冊数: {{ book.count }}<br>
補足情報: {{ book.description }}
</p>
<p class="center">
<a class="waves-effect waves-light btn orange accent-3" ng-href="{{ '?order='+ book.id }}"><i class="material-icons" style="font-size:0.85rem;">add_shopping_cart</i>予約</a>
</p>
</div>
</div>
</div>
</div>
<div class="modal-footer">
<a class=" modal-action modal-close waves-effect waves-green btn-flat">閉じる</a>
</div>
</div>
</div>