<!-- メインスタブコンテンツ -->
<div>
  <h2>This content is Stab!!</h2>
  <div class="waves-effect waves-light btn" ng-click="onLoadRequestAPI()" >Request API from sample</div>

  <div>
    <div id="serch_count">検索数： {{serch_count}}<div>
    <table class="bordered">
      <thead>
        <tr>
          <th data-field="books_title">タイトル</th>
          <th data-field="books_author">著者</th>
          <th data-field="books_price">価格</th>
          <th data-field="books_url">imgURL</th>
          <th data-field="books_button">予約</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="book in books">
          <td>{{book.book_title}}</td>
          <td>{{book.book_author}}</td>
          <td>{{book.book_price}}</td>
          <td>{{book.book_img}}</td>
          <td>
            <a class="modal-trigger waves-effect waves-light btn" ng-click="pushReservation(book)">
              欲しい<i class="material-icons right">send</i>
            </a>
          </td>
        <tr>
      </tbody>
    </table>
  </div>
</div>
