//----------------------------------------------------------------------
// External stylesheet
//----------------------------------------------------------------------
@import 'node_modules/modularscale-sass/stylesheets/modular-scale';

//----------------------------------------------------------------------
// internal stylesheet
//----------------------------------------------------------------------
@import "custom/swiper.custom";
@import "custom/modal.custom";
@import "custom/loading.custom";  


//----------------------------------------------------------------------
// custom stylesheet
//----------------------------------------------------------------------
$ms-base: 1em;
$ms-ratio: $golden;

/**
 * 【導入ライブラリ】
 *
 * [modular-scale]
 *  - ma(n) で黄金比に変換されるよ。
 *  - ベースはma(0)
 */

body{
     font-family: Helvetica , "游ゴシック" , "Yu Gothic" , sans-serif;
}

.header {
  display: flex;
}

#main-content{
  margin: ms(0);
}

.nav-wrapper{
  padding: 0 ms(0);
}