/**
 * z-index 指定シート
 */
//=========================================================================
// 標準画面 (100 ～ 999)
//=========================================================================


//=========================================================================
// モーダル (1000 ～ 3000)
//=========================================================================
// トップナビゲーションバー(検索バー)
.navbar-fixed-top {z-index: 1000;}

// サイドバーオーバーレイ
.sideber-overlay {z-index: 1999;}

// サイドバーボタン
.button-collapse {z-index: 2000;}

// サイドバー
.sideber {z-index: 2001;}

//=========================================================================
// ローディングインジケータ (9999)
//=========================================================================
#loading-content {z-index:9999;}