//----------------------------------------------------------------------
// メインコンテンツ スタイルシート
//----------------------------------------------------------------------
//タイトル 部分
.cat-title {
	padding-top: 80px;
	color: #ff6d00;
}
.hr-line {
	padding: 0;
	border: none;
	border-top: solid 5px #ff6d00;
	box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	max-width: 200px;
	margin: 0 auto 15px auto;
}
//------------------------------------------------------
// カテゴリ タブ
.tabs {
  .tab a {
    color: #fb8c00;
    &:hover {
      color: #e65100;
    }
  }
  .indicator {
    background-color: #e65100;
  }
}
//------------------------------------------------------
// カード表示
.card {
  .card-image img {
    width: auto;
    height: 90%;
    margin: 0 auto;
  }
  .card-action {
    padding: 10px;
  }
  .card-content {
    height:50px !important;
    padding: 3px 5px !important;
  }
  .card-image {
    height:200px !important;
    min-height:200px !important;
  }
}
//------------------------------------------------------
// モ－ダル表示
.modal {
	max-height:80%;
  .modal-fixed-footer {
	  height: 80%;
  }
  .bottom-sheet {
    max-height: 65% !important;
  }
  @media only screen and (max-width: 992px) {
    width: 90%;
    .modal .modal-content {
      padding: 0px;
    }
  }
}
